@import url('../styles.scss');

.action-buttons span:hover,
.edit:hover {
    opacity: 0.75;
}

.feed {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;

    .head {
        display: flex;
        justify-content: space-between;
    }

    .user {
        display: flex;
        gap: 1rem;

        .ingo {
            small {
                font-size: 0.75rem;
            }
        }
    }

    .photo {
        border-radius: var(--card-border-radius);
        overflow: hidden;
        margin: 0.7rem 0;
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        padding: 0.6rem;
        border-top: 1px solid var(--color-gray);
        cursor: pointer;

        .interaction-buttons {
            display: flex;
            gap: 2rem;
        }
    }

    .edit {
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.liked-by {
    display: flex;
    align-items: center;

    span {
        width: 1.7rem;
        height: 1.7rem;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid var(--color-white);
        margin-left: -0.6rem;

        &:first-child {
            margin: 0;
        }
    }

    p {
        margin-left: 0.5rem;
        font-size: 0.85rem;
    }
}

.caption {
    font-size: 1rem;
    margin: 1rem 0;
}

.harsh-tag {
    color: var(--color-primary);
}

.photo {
    max-height: 25rem;
}