@import url('../styles.scss');

.action-buttons span:hover,
.edit .ellipsis:hover {
    opacity: 0.75;
}

.profile-picture {
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.textarea {
    text-align: left;
    font-size: 1rem;
    margin: 1rem 0;
    display: block;
    width: 100%;
    overflow: auto;
    resize: none;
    max-height: 25vh;
    line-height: 20px;
    background-color: var(--color-white);
    color: var(--color-dark);

    white-space: pre;
}

.textarea[contenteditable]:empty::before {
    content: "What's on your mind?";
    color: gray;
}

textarea {
    height: 25vh;
}

.feed {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    margin-top: 0;
    font-size: 0.85rem;
    line-height: 1.5;

    .head {
        display: flex;
        justify-content: space-between;
    }

    .user {
        display: flex;
        gap: 1rem;

        .ingo {
            small {
                font-size: 0.75rem;
            }
        }
    }

    .photo {
        gap: 0.2rem;
        overflow: hidden;
        margin: 0.7rem 0;
        position: relative;
        max-height: 25rem;
        display: block;
        border-radius: var(--card-border-radius);

        img {
            border-radius: var(--card-border-radius);
        }
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        padding: 0.6rem;
        border-top: 1px solid var(--color-gray);
        cursor: pointer;

        .interaction-buttons {
            display: flex;
            gap: 2rem;

            .liked {
                color: var(--color-primary);
            }
        }

        .bookmark {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .comment-count {
            font-size: 0.85rem;
        }
    }

    .edit {
        position: relative;

        .ellipsis {
            cursor: pointer;
        }

        .edit-buttons {
            cursor: pointer;
            font-size: 1rem;
        }

        i {
            font-size: 1.5rem;
        }

        .edit-popup {
            display: none;
            position: absolute;
            top: 2rem;
            right: 0rem;
            width: max-content;
            background-color: var(--color-white);
            border-radius: 0.5rem;
            border: 1px solid var(--color-dark);
            padding: 0.5rem;

            z-index: 5;

            .edit-buttons {
                padding: 0 1.5rem 0 0.5rem;
                font-weight: 500;
                border-radius: 0.5rem;

                i {
                    margin-right: 0.5rem;
                }

                &:hover {
                    background-color: rgba(211, 211, 211, 0.5);
                }
            }
        }
    }
}

.liked-by {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    span {
        width: 1.7rem;
        height: 1.7rem;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid var(--color-white);
        margin-left: -0.6rem;

        &:first-child {
            margin: 0;
        }
    }

    p {
        margin-left: 0.5rem;
        font-size: 0.85rem;
    }
}

.caption {
    font-size: 1rem;
    margin: 1rem 0;

    .line {
        min-height: 0.5rem;
    }
}

.harsh-tag {
    color: var(--color-primary);
}

.comments-container {
    width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
    // margin-top: 1rem;
    border-top: 1px solid var(--color-gray);

    .view-more {
        margin-bottom: 0.5rem;
        margin-top: -0.5rem;
        font-weight: 500;
        font-size: 0.85rem;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.create-comment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .profile-picture {
        width: 2rem;
        height: 2rem;
    }

    form {
        width: 100%;
    }

    input[type="text"] {
        justify-self: flex-start;
        width: 100%;
        background: var(--color-light);
        color: var(--color-dark);
        font-size: 1rem;
        border-radius: var(--card-border-radius);
        padding: 0.5rem 0.7rem;

        &:hover {
            opacity: 0.75;
        }
    }
}

.edit-mode {
    display: flex;
    gap: 0.5rem;
    border-top: 1px solid var(--color-gray);
    padding-top: 1rem;

    .btn {
        width: 100%;

        &:disabled {
            opacity: 0.3;
            cursor: auto;
        }
    }
}

.share-layout {
    border: 1px solid var(--color-gray);
    border-bottom: 0;
    padding: var(--card-padding);
    // margin-top: 1rem;
}

.create-share {
    background-color: rgba($color: white, $alpha: 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    text-align: center;
    display: none;
    place-items: center;
    font-size: 1rem;

    .card {
        background-color: var(--color-white);
        padding: 0 1rem var(--card-padding) var(--card-padding);
        border-radius: var(--card-border-radius);
        width: 40%;
        box-shadow: 0 0 1rem var(--color-primary);
    }

    .title {
        padding: 0.5rem;
        border-bottom: 1px solid var(--color-gray);
    }

    .content {
        .btn {
            width: 100%;
            border-radius: var(--card-border-radius);
        }

        .photo {
            gap: 0.2rem;
            overflow: hidden;
            margin-bottom: 1rem;
            position: relative;
            max-height: 25rem;
            display: block;
            border-radius: var(--card-border-radius);

            img {
                border-radius: var(--card-border-radius);
            }
        }
    }
}