<div class="messages">
    <div class="heading">
        <h3>Messages</h3><i class="uil uil-edit"></i>
    </div>
    <!-- --------- SEARCH BAR --------------- -->
    <form class="search-bar">
        <i class="uil uil-search"></i>
        <input type="search" placeholder="Search messages" id="message-search" [(ngModel)]="this.searchKeyword"
            name="search-message">
    </form>
    <!-- MESSAGES CATEGORY -->
    <div class="category">
        <h6 class="active" id="primary">
            Primary
        </h6>
        <h6 class="message-requests" id="requests">
            Requests({{totalRequests}})
        </h6>
    </div>
    <!-- MESSAGE -->
    <div class="list-messages">
        <app-chatroom *ngFor="let chatroom of this.chatrooms" [chatroomData]="chatroom" [currentUser]="this.currentUser"
            (onChatroomSelect)="chatroomSelect($event)" [searchKeyword]="this.searchKeyword"></app-chatroom>
    </div>
</div>