<div class="messages">
    <div class="heading">
        <h3>Messages</h3><i class="uil uil-edit"></i>
    </div>
    <!-- --------- SEARCH BAR --------------- -->
    <div class="search-bar">
        <i class="uil uil-search"></i>
        <input type="search" placeholder="Search messages" id="message-search">
    </div>
    <!-- MESSAGES CATEGORY -->
    <div class="category">
        <h6 class="active" id="primary">
            Primary
        </h6>
        <h6 class="message-requests" id="requests">
            Requests({{totalRequests}})
        </h6>
    </div>
    <!-- MESSAGE -->
    <div class="list-messages">
        <div class="message">
            <div class="profile-picture">
                <img src="https://i.pinimg.com/736x/a6/61/f4/a661f414ac9a447b953338b2c953bb38.jpg" alt="">
            </div>
            <div class="message-body">
                <h5>Wibu</h5>
                <p class="text-muted">
                    It's Wibu time, bro.
                </p>
            </div>
        </div>
        <div class="message">
            <div class="profile-picture">
                <img src="https://i.pinimg.com/736x/a6/61/f4/a661f414ac9a447b953338b2c953bb38.jpg" alt="">
            </div>
            <div class="message-body">
                <h5>Wibu2</h5>
                <p class="text-muted">
                    It's Wibu time, bro.
                </p>
            </div>
        </div>
        <div class="message">
            <div class="profile-picture">
                <img src="https://i.pinimg.com/736x/a6/61/f4/a661f414ac9a447b953338b2c953bb38.jpg" alt="">
            </div>
            <div class="message-body">
                <h5>Wibu3</h5>
                <p class="text-muted">
                    It's Wibu time, bro.
                </p>
            </div>
        </div>
        <div class="message">
            <div class="profile-picture">
                <img src="https://i.pinimg.com/736x/a6/61/f4/a661f414ac9a447b953338b2c953bb38.jpg" alt="">
            </div>
            <div class="message-body">
                <h5>Wibu4</h5>
                <p class="text-bold">
                    2 new messages
                </p>
            </div>
        </div>
        <div class="message">
            <div class="profile-picture">
                <img src="https://i.pinimg.com/736x/a6/61/f4/a661f414ac9a447b953338b2c953bb38.jpg" alt="">
                <div class="active"></div>
            </div>
            <div class="message-body">
                <h5>Wibu9</h5>
                <p class="text-bold">
                    It's Wibu time, bro.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="chatrooms">
    <app-chat></app-chat>
</div>