<body>
    <div class="container">
        <div class="top">
            <div class="profile">
                <div class="head">
                    <div class="profile-picture">
                        <img [src]="this.currentUser.getAvatar()" (error)="this.currentUser.getDefaultAvatar()" alt="">
                    </div>
                    <div class="info">
                        <div class="name text-bold">{{this.currentUser.getFullName()}}</div>
                        <div class="email text-muted">@{{this.currentUser.getEmailPrefix()}}</div>
                        <div class="friends">999 Friends</div>
                    </div>
                </div>
            </div>
            <div class="friend-request">
                <div class="request">
                    <button class="btn btn-primary">
                        <i class="uil uil-user-plus"></i>
                        <span>Add</span>
                    </button>
                </div>

                <div class="pending">
                    <button class="btn btn-primary ">
                        <i class="uil uil-check"></i>
                        <span>Accept</span>
                    </button>
                    <button class="btn btn-muted ">
                        <i class="uil uil-times"></i>
                        <span>Decline</span>
                    </button>
                </div>

                <div class="friend">
                    <button class="btn btn-primary ">
                        <i class="uil uil-user-check"></i>
                        <span>Friend</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="tabs">
            <span id="tab-posts" class="active">Posts</span>
            <span id="tab-friends">Friends</span>
            <span id="tab-images">Images</span>
        </div>

        <div class="posts-layout">
            <div class="detail-info">
                <div class="wrapper">
                    <h2>Information</h2>
                    <div class="detail">
                        <div><i class="uil uil-user-circle"></i><span>{{this.currentUser.getFullName()}}</span></div>
                        <div><i class="uil uil-envelope"></i><span>{{this.currentUser.email}}</span></div>
                        <div><i class="uil uil-gift"></i><span>{{this.currentUser.getDateOfBirth()}}</span></div>
                        <div><i class="uil uil-phone"></i><span>{{this.currentUser.phone}}</span></div>
                    </div>
                </div>
            </div>
            <div class="my-posts">
                <app-create-post [currentUser]="this.currentUser"></app-create-post>
                <div class="feeds">
                    <app-posts></app-posts>
                </div>
            </div>
        </div>

        <div class="friends-layout"></div>

        <div class="images-layout"></div>
    </div>
</body>