@import url('../dashboard.component.scss');

$color-white: hsl(252, 30%, 100%);
$color-light: hsl(252, 30%, 95%);
$color-gray: hsl(252, 15%, 65%);
$color-primary: hsl(252, 75%, 60%);
$color-secondary: hsl(252, 100%, 90%);
$color-success: hsl(120, 95%, 65%);
$color-danger: hsl(0, 95%, 65%);
$color-dark: hsl(252, 30%, 17%);
$color-black: hsl(252, 30%, 10%);

$border-radius: 2rem;
$card-border-radius: 1rem;
$btn-padding: 0.6rem 2rem;
$search-padding: 0.6rem 1rem;
$card-padding: 1rem;

$sticky-top-left: 5.4rem;
$sticky-top-right: -18rem;

body {
    background-color: $color-light;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

* {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
}

.container {
    position: relative;
    top: 5.4rem;
    display: grid;
    grid-template-columns: 25vh auto 25vw;
    column-gap: 2rem;

    .left {
        height: max-content;
        position: sticky;
        top: $sticky-top-left;

        .profile {
            padding: $card-padding ;
            background-color: $color-white;
            border-radius: $card-border-radius;
            display: flex;
            align-items: center;
            column-gap: 1rem;
            width: 100%;
        }

        /* ========================= SIDEBAR =============================*/
        .side-bar {
            margin-top: 1rem;
            background-color: $color-white;
            border-radius: $card-border-radius;

            .menu-item {
                display: flex;
                align-items: center;
                height: 4rem;
                cursor: pointer;
                transition: all 300ms ease;
                position: relative;

                &:hover {
                    background-color: $color-light;
                }

                &:first-child.active {
                    border-top-left-radius: $card-border-radius;
                    overflow: hidden;
                }

                &:last-child.active {
                    border-bottom-left-radius: $card-border-radius;
                    overflow: hidden;
                }
            }

            i {
                font-size: 1.4rem;
                color: $color-gray;
                margin-left: 2rem;
                position: relative;
            }

            h3 {
                margin-left: 1.5rem;
                font-size: 1rem;
            }

            .active {
                background-color: $color-light;

                i,
                h3 {
                    color: $color-primary;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 0.5rem;
                    height: 100%;
                    position: absolute;
                    background-color: $color-primary;
                }
            }
        }

        .btn {
            margin-top: 1rem;
            width: 100%;
            text-align: center;
            padding: 1rem 0;
        }
    }

    .middle {
        .btn {
            font-size: 0.9rem;
            padding: $btn-padding;
        }

        .stories {
            display: flex;
            justify-content: space-between;
            height: 12rem;
            gap: 0.5rem;

            .story {
                padding: $card-padding;
                border-radius: $card-border-radius;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: white;
                font-size: 0.75rem;
                width: 100%;
                position: relative;
                overflow: hidden;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    background: url('https://thosuaxe.info/wp-content/uploads/2021/03/Weeaboo-l%C3%A0-g%C3%AC.jpg') no-repeat center center/cover;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 5rem;
                    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
                    position: absolute;
                    bottom: 0;
                }

                .name {
                    z-index: 2;
                }

                .profile-picture {
                    width: 2rem;
                    height: 2rem;
                    align-self: flex-start;
                    border: 3px solid $color-primary;
                }
            }
        }

        .create-post {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            background-color: $color-white;
            padding: 0.4rem $card-padding;
            border-radius: $border-radius;

            input[type="text"] {
                justify-self: flex-start;
                width: 100%;
                padding-left: 1rem;
                background: transparent;
                color: $color-dark;
                margin-right: 1rem;
            }
        }

        /* ========================= FEEDS =============================*/
        .feeds {
            .feed {
                background-color: $color-white;
                border-radius: $card-border-radius;
                padding: $card-padding;
                margin: 1rem 0;
                font-size: 1rem;
                line-height: 1.5;

                .head {
                    display: flex;
                    justify-content: space-between;
                }

                .user {
                    display: flex;
                    gap: 1rem;
                }

                .photo {
                    border-radius: $card-border-radius;
                    overflow: hidden;
                    margin: 0.7rem 0;
                }

                .action-buttons {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.7rem;
                    margin: 0.6rem;

                    .interaction-buttons {
                        display: flex;
                        gap: 2rem;
                    }
                }
            }
        }

        .liked-by {
            display: flex;
            align-items: center;

            span {
                width: 2rem;
                height: 2rem;
                display: block;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid $color-white;
                margin-left: -0.6rem;

                &:first-child {
                    margin: 0;
                }
            }

            p {
                margin-left: 0.5rem;
                font-size: 1rem;
            }
        }

        .caption {
            margin: 1rem 0;
        }

        .harsh-tag {
            color: $color-primary;
        }

        .photo {
            max-height: 25rem;
        }
    }

    .right {
        height: max-content;
        position: sticky;
        top: $sticky-top-right;
        bottom: 0;

        .btn {
            font-size: 0.9rem;
            padding: $btn-padding;
        }

        .messages {
            background-color: $color-white;
            border-radius: $card-border-radius;
            padding: $card-padding;

            .heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;
            }

            i {
                font-size: 1.6rem;
            }

            .search-bar {
                display: flex;
                align-items: center;
                background-color: $color-light;
                border-radius: $border-radius;
                padding: $search-padding;
                margin-bottom: 1rem;

                input[type="search"] {
                    background: transparent;
                    width: 30vw;
                    margin-left: 1rem;
                    font-size: 0.9rem;
                    color: $color-dark;

                    &::placeholder {
                        color: $color-gray;
                    }
                }
            }

            .category {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;

                h6 {
                    width: 100%;
                    text-align: center;
                    border-bottom: 4px solid $color-light;
                    padding-bottom: 0.5rem;
                    font-size: 1rem;
                }

                .active {
                    border-color: $color-dark;
                }
            }

            .message {
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;
                align-items: flex-start;

                &:last-child {
                    margin: 0;
                }

                p {
                    font-size: 0.9rem;
                }

                .profile-picture {
                    position: relative;
                    overflow: visible;

                    img {
                        border-radius: 50%;
                    }

                    .active {
                        width: 0.8rem;
                        height: 0.8rem;
                        border-radius: 50%;
                        border-radius: 3px solid $color-white;
                        background-color: $color-success;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }

            .message-requests {
                color: $color-primary;
            }
        }

        .friend-requests {
            margin-top: 1rem;

            h4 {
                color: $color-gray;
                margin-bottom: 1rem;
            }
        }

        .request {
            background-color: $color-white;
            padding: $card-padding;
            border-radius: $card-border-radius;
            margin-bottom: 0.7rem;

            .info {
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;
            }

            .action {
                display: flex;
                gap: 1rem;
            }
        }
    }
}