<body>
    <div class="container">
        <!-- ===================== LEFT =========================== -->
        <div class="left">
            <app-sidebar [currentUser]="this.currentUser" (onSettingClick)="showSettings($event)"></app-sidebar>
        </div>

        <!-- ===================== MIDDLE =========================== -->
        <div class="middle">
            <div class="tab-home">
                <div class="no-result" *ngIf="searchedUsers.length < 1">No matching result</div>
                <app-profile-card *ngFor="let user of searchedUsers" [currentUser]="this.currentUser" [user]="user">
                </app-profile-card>
            </div>

            <div class="tab-settings">
                <div class="action-buttons">
                    <button class="btn btn-primary">
                        <i class="uil uil-asterisk"></i>
                        <span>Change password</span>
                    </button>
                    <button class="btn btn-primary" (click)="logout()">
                        <i class="uil uil-signout"></i>
                        <span>Logout</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- ====================== RIGHT ========================== -->
        <div class="right">
            <app-messages></app-messages>

            <!-- FRIEND REQUESTS -->
            <app-requests></app-requests>
        </div>
    </div>
</body>