<body>
    <div class="container">
        <!-- ===================== LEFT =========================== -->
        <div class="left">
            <app-sidebar [currentUser]="this.currentUser" (onSettingClick)="showTab($event)"></app-sidebar>
        </div>

        <!-- ===================== MIDDLE =========================== -->
        <div class="middle">
            <div class="tab-home">
                <div class="no-result" *ngIf="searchedUsers.length < 1">No matching result</div>
                <app-profile-card *ngFor="let user of searchedUsers" [currentUser]="this.currentUser" [user]="user">
                </app-profile-card>
            </div>

            <div class="tab-friends">
                <h2>Friends: {{this.friends.length}}</h2>
                <app-friend-card *ngFor="let friend of this.friends" [currentUser]="this.currentUser"
                    [friendship]="friend"></app-friend-card>
            </div>

            <div class="tab-settings">
                <div class="action-buttons">
                    <button class="btn btn-primary" (click)="showChangePass()">
                        <i class="uil uil-asterisk"></i>
                        <span>Change password</span>
                    </button>
                    <button class="btn btn-primary" (click)="logout()">
                        <i class="uil uil-signout"></i>
                        <span>Logout</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- ====================== RIGHT ========================== -->
        <div class="right">
            <app-messages [totalRequests]="this.friendRequests.length" [chatrooms]="this.chatrooms"
                [currentUser]="this.currentUser" (onChatroomSelect)="showChatroom($event,true)"></app-messages>

            <!-- FRIEND REQUESTS -->
            <div class="friend-requests" *ngIf="this.friendRequests.length>0">
                <h4>Requests</h4>
                <app-requests *ngFor="let friendRequest of this.friendRequests" [friendshipData]="friendRequest"
                    [currentUser]="this.currentUser">
                </app-requests>
            </div>
        </div>
    </div>

    <div class="chatroom">
        <app-chat [chatroomData]="this.chatroomData" [currentUser]="this.currentUser"
            (onClose)="showChatroom(null,$event)"></app-chat>
    </div>

    <div class="change-password">
        <div class="card">
            <div class="title">
                <h2>Change password</h2>
            </div>
            <form class="content" [formGroup]="this.changePassForm" (submit)="changePassword()">
                <div class="input-pass">
                    <label for="oldPassword">Current password</label>
                    <input type="password" placeholder="Type your current pass" formControlName="oldPass"
                        [(ngModel)]="this.currentPassStr">

                    <div [hidden]="changePassForm.controls['oldPass'].untouched ||
                     changePassForm.controls['oldPass'].valid" class="alert-danger">
                        * Current password is required ! *
                    </div>
                </div>
                <div class="input-pass">
                    <label for="newPassword">New password</label>
                    <input type="password" placeholder="Type your new pass" formControlName="newPass"
                        [(ngModel)]="this.newPassStr">

                    <div [hidden]="changePassForm.controls['newPass'].untouched ||
                     changePassForm.controls['newPass'].valid" class="alert-danger">
                        * New password is required ! *
                    </div>
                </div>
                <div class="input-pass">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" placeholder="Confirm your new pass" formControlName="confirmPass"
                        [(ngModel)]="this.confirmPassStr">

                    <div [hidden]="changePassForm.controls['confirmPass'].untouched ||
                     changePassForm.controls['confirmPass'].valid" class="alert-danger">
                        * Re-type password is required ! *
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Change</button>
            </form>
        </div>
    </div>
</body>