<div class="stories">
    <div class="story">
        <div class="profile-picture">
            <img src={{this.currentUser.getAvatar()}}
                onerror="this.src='https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-vector-contact-symbol-illustration-184752213.jpg'"
                alt="">
        </div>
        <p class="name text-bold">Your Story</p>
    </div>
    <div class="story">
        <div class="profile-picture">
            <img src="https://cdn-icons-png.flaticon.com/512/168/168882.png" alt="">
        </div>
        <p class="name text-bold">A Van</p>
    </div>
    <div class="story">
        <div class="profile-picture">
            <img src="https://cdn-icons-png.flaticon.com/512/168/168882.png" alt="">
        </div>
        <p class="name text-bold">System Admin</p>
    </div>
    <div class="story">
        <div class="profile-picture">
            <img src="https://cdn-icons-png.flaticon.com/512/168/168882.png" alt="">
        </div>
        <p class="name text-bold">Homies</p>
    </div>
    <div class="story">
        <div class="profile-picture">
            <img src="https://cdn-icons-png.flaticon.com/512/168/168882.png" alt="">
        </div>
        <p class="name text-bold">Wibu</p>
    </div>
</div>