<div class="message" (click)="chatroomSelect()" *ngIf="!searchKeyword || isContainsKeyword()">
    <div class="profile-picture">
        <img [src]="this.chatUser.getAvatar()" (error)="this.chatUser.getDefaultAvatar()" alt="">
        <div class="active"></div>
    </div>
    <div class="message-body">
        <h5>{{this.chatUser.getFullName()}}</h5>
        <p class="text-muted" *ngIf="this.latestMessage">
            {{this.latestMessage.message}}
        </p>
        <p class="text-bold" *ngIf="!this.latestMessage">
            Say hi to your new friend
        </p>
    </div>
</div>