@import url('../styles.scss');

.friend-requests {
    margin-top: 1rem;

    h4 {
        color: var(--color-gray);
        margin-bottom: 1rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: var(--btn-padding);
    }

    .request {
        background-color: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-bottom: 0.7rem;

        .info {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }

        .action {
            display: flex;
            gap: 1rem;
        }
    }
}