@import url('../styles.scss');

.btn {
    font-size: 0.9rem;
    padding: var(--btn-padding);
}

.request {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;

    .info {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        align-items: center;

        h4 {
            font-size: 1rem;
            font-weight: 500;
        }
    }

    .action {
        display: flex;
        gap: 1rem;
    }

    .response {
        display: none;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: var(--color-primary);
    }
}